{% extends "base.html" %}

{% block content %}
<!-- page reglementations -->

<div class="fr-container fr-my-8w">
    <div class="fr-callout fr-fi-information-line">
        <h3 class="fr-callout__title">Le projet IMPACT a pour objectif d’aider les entreprises à satisfaire la réglementation extra-financière</h3>
        <p class="fr-callout__text">
            La liste des réglementations ci-dessous n’est pas encore complète et va s’enrichir progressivement. Le site actuel, encore au stade de prototype (bêta), sera amené à évoluer.
        </p>
    </div>

    {% if entreprise.denomination %}<h2 class="fr-mt-4w">{{ entreprise.denomination }}</h2>{% endif %}
    {% for reglementation in reglementations %}
        {% include "snippets/reglementation_card.html" with reglementation=reglementation %}
    {% endfor %}

    <div class="fr-card fr-card--horizontal  fr-mt-2w">
        <div class="fr-card__body">
            <div class="fr-card__content">
                <h3 class="fr-card__title">
                    Rapport de gestion
                </h3>
                <p class="fr-card__desc">Informations sur les risques identifiés, la stratégie bas- carbone mise en œuvre, les procédures de contrôle interne et de gestion des risques</p>

                <div class="fr-card__start">
                    <ul class="fr-badges-group">
                        <li>
                            <p class="fr-badge fr-badge--success fr-badge--no-icon">à jour</p>
                        </li>
                    </ul>
                    <p class="fr-card__detail fr-icon-info-fill">
                            Vous êtes soumis à cette réglementation. Vous avez rempli vos obligations d'après les données disponibles sur la plateforme Egapro.
                    </p>
                </div>

            </div>
            <div class="fr-card__footer">
                <ul class="fr-btns-group fr-btns-group--inline-reverse fr-btns-group--inline-lg">
                    <li>
                        <a class="fr-btn fr-btn--secondary" href="https://www.economie.gouv.fr/entreprises/index-egalite-professionnelle-obligatoire" target="_blank" rel="noopener">
                            En savoir plus
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="fr-card fr-card--horizontal  fr-mt-2w">
        <div class="fr-card__body">
            <div class="fr-card__content">
                <h3 class="fr-card__title">
                    Rapport sur le gouvernement d'entreprise
                </h3>
                <p class="fr-card__desc">Le rapport sur le gouvernement d’entreprise est établi par le conseil d’administration à destination de l’assemblée générale des actionnaires. Il est joint au rapport de gestion et se substitut au rapport du président du conseil d’administration ou du conseil de surveillance sur le gouvernement d’entreprise. Défini par la réglementation et bénéficiant de préconisations du code Afep-Medef, il est un document majeur des conseils.</p>

                <div class="fr-card__start">
                    <ul class="fr-badges-group">
                        <li>
                            <p class="fr-badge fr-badge--success fr-badge--no-icon">à jour</p>
                        </li>
                    </ul>
                    <p class="fr-card__detail fr-icon-info-fill">
                            Vous êtes soumis à cette réglementation. Vous avez rempli vos obligations d'après les données disponibles sur la plateforme Egapro.
                    </p>
                </div>

            </div>
            <div class="fr-card__footer">
                <ul class="fr-btns-group fr-btns-group--inline-reverse fr-btns-group--inline-lg">
                    <li>
                        <a class="fr-btn fr-btn--secondary" href="https://www.economie.gouv.fr/entreprises/index-egalite-professionnelle-obligatoire" target="_blank" rel="noopener">
                            En savoir plus
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="fr-card fr-card--horizontal  fr-mt-2w">
        <div class="fr-card__body">
            <div class="fr-card__content">
                <h3 class="fr-card__title">
                    Déclaration de performance extra-financière
                </h3>
                <p class="fr-card__desc">Des informations relatives à la lutte contre la corruption, aux actions en faveur des droits de l’homme.</p>

                <div class="fr-card__start">
                    <ul class="fr-badges-group">
                        <li>
                            <p class="fr-badge fr-badge--success fr-badge--no-icon">à jour</p>
                        </li>
                    </ul>
                    <p class="fr-card__detail fr-icon-info-fill">
                            Vous êtes soumis à cette réglementation. Vous avez rempli vos obligations d'après les données disponibles sur la plateforme Egapro.
                    </p>
                </div>

            </div>
            <div class="fr-card__footer">
                <ul class="fr-btns-group fr-btns-group--inline-reverse fr-btns-group--inline-lg">
                    <li>
                        <a class="fr-btn fr-btn--secondary" href="https://www.economie.gouv.fr/entreprises/index-egalite-professionnelle-obligatoire" target="_blank" rel="noopener">
                            En savoir plus
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="fr-card fr-card--horizontal  fr-mt-2w">
        <div class="fr-card__body">
            <div class="fr-card__content">
                <h3 class="fr-card__title">
                    Dispositif d'alerte
                </h3>
                <p class="fr-card__desc">Un dispositif d’alertes professionnelles (ou DAP) est un outil permettant à une personne (salarié, cocontractant, tiers…) de porter à la connaissance d’un organisme une situation, un comportement ou un risque susceptible de caractériser une infraction ou une violation de règles éthiques adoptées par l’organisme en question, tel qu’un manquement à une charte ou à un code de conduite.</p>

                <div class="fr-card__start">
                    <ul class="fr-badges-group">
                        <li>
                            <p class="fr-badge fr-badge--success fr-badge--no-icon">à jour</p>
                        </li>
                    </ul>
                    <p class="fr-card__detail fr-icon-info-fill">
                            Vous êtes soumis à cette réglementation. Vous avez rempli vos obligations d'après les données disponibles sur la plateforme Egapro.
                    </p>
                </div>

            </div>
            <div class="fr-card__footer">
                <ul class="fr-btns-group fr-btns-group--inline-reverse fr-btns-group--inline-lg">
                    <li>
                        <a class="fr-btn fr-btn--secondary" href="https://www.economie.gouv.fr/entreprises/index-egalite-professionnelle-obligatoire" target="_blank" rel="noopener">
                            En savoir plus
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="fr-card fr-card--horizontal  fr-mt-2w">
        <div class="fr-card__body">
            <div class="fr-card__content">
                <h3 class="fr-card__title">
                    Dispositif anti-corruption
                </h3>
                <p class="fr-card__desc">Pour rappel, la loi du 9 décembre 2016 (dite "loi Sapin 2") impose aux entreprises d'au moins 500 salariés la mise en place de mesures préventives anticorruption : cartographie des risques, procédures d’évaluation de la situation des clients, fournisseurs, information et sanctions des salariés.</p>

                <div class="fr-card__start">
                    <ul class="fr-badges-group">
                        <li>
                            <p class="fr-badge fr-badge--success fr-badge--no-icon">à jour</p>
                        </li>
                    </ul>
                    <p class="fr-card__detail fr-icon-info-fill">
                            Vous êtes soumis à cette réglementation. Vous avez rempli vos obligations d'après les données disponibles sur la plateforme Egapro.
                    </p>
                </div>

            </div>
            <div class="fr-card__footer">
                <ul class="fr-btns-group fr-btns-group--inline-reverse fr-btns-group--inline-lg">
                    <li>
                        <a class="fr-btn fr-btn--secondary" href="https://www.economie.gouv.fr/entreprises/index-egalite-professionnelle-obligatoire" target="_blank" rel="noopener">
                            En savoir plus
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="fr-card fr-card--horizontal  fr-mt-2w">
        <div class="fr-card__body">
            <div class="fr-card__content">
                <h3 class="fr-card__title">
                    Plan de vigilance
                </h3>
                <p class="fr-card__desc">Le plan de vigilance et le compte rendu de sa mise en œuvre effective</p>

                <div class="fr-card__start">
                    <ul class="fr-badges-group">
                        <li>
                            <p class="fr-badge fr-badge--success fr-badge--no-icon">à jour</p>
                        </li>
                    </ul>
                    <p class="fr-card__detail fr-icon-info-fill">
                            Vous êtes soumis à cette réglementation. Vous avez rempli vos obligations d'après les données disponibles sur la plateforme Egapro.
                    </p>
                </div>

            </div>
            <div class="fr-card__footer">
                <ul class="fr-btns-group fr-btns-group--inline-reverse fr-btns-group--inline-lg">
                    <li>
                        <a class="fr-btn fr-btn--secondary" href="https://www.economie.gouv.fr/entreprises/index-egalite-professionnelle-obligatoire" target="_blank" rel="noopener">
                            En savoir plus
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="fr-card fr-card--horizontal  fr-mt-2w">
        <div class="fr-card__body">
            <div class="fr-card__content">
                <h3 class="fr-card__title">
                    BGES et plan de transition
                </h3>
                <p class="fr-card__desc">Le bilan des émissions de gaz à effet de serre et le plan de transition. Ils sont mis à jour tous les quatre ans.</p>

                <div class="fr-card__start">
                    <ul class="fr-badges-group">
                        <li>
                            <p class="fr-badge fr-badge--success fr-badge--no-icon">à jour</p>
                        </li>
                    </ul>
                    <p class="fr-card__detail fr-icon-info-fill">
                            Vous êtes soumis à cette réglementation. Vous avez rempli vos obligations d'après les données disponibles sur la plateforme Egapro.
                    </p>
                </div>

            </div>
            <div class="fr-card__footer">
                <ul class="fr-btns-group fr-btns-group--inline-reverse fr-btns-group--inline-lg">
                    <li>
                        <a class="fr-btn fr-btn--secondary" href="https://www.economie.gouv.fr/entreprises/index-egalite-professionnelle-obligatoire" target="_blank" rel="noopener">
                            En savoir plus
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="fr-card fr-card--horizontal  fr-mt-2w">
        <div class="fr-card__body">
            <div class="fr-card__content">
                <h3 class="fr-card__title">
                    Audit énergétique
                </h3>
                <p class="fr-card__desc">Le code de l'énergie prévoit la réalisation d’un audit énergétique pour les grandes entreprises de plus de 250 salariés, afin qu’elles mettent en place une stratégie d’efficacité énergétique de leurs activités. L’audit énergétique permet de repérer les gisements d’économies d’énergie chez les plus gros consommateurs professionnels (tertiaires et industriels).</p>

                <div class="fr-card__start">
                    <ul class="fr-badges-group">
                        <li>
                            <p class="fr-badge fr-badge--success fr-badge--no-icon">à jour</p>
                        </li>
                    </ul>
                    <p class="fr-card__detail fr-icon-info-fill">
                            Vous êtes soumis à cette réglementation. Vous avez rempli vos obligations d'après les données disponibles sur la plateforme Egapro.
                    </p>
                </div>

            </div>
            <div class="fr-card__footer">
                <ul class="fr-btns-group fr-btns-group--inline-reverse fr-btns-group--inline-lg">
                    <li>
                        <a class="fr-btn fr-btn--secondary" href="https://www.economie.gouv.fr/entreprises/index-egalite-professionnelle-obligatoire" target="_blank" rel="noopener">
                            En savoir plus
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>




</div>

{% endblock %}
