{% extends "base.html" %}

{% block content %}
<div class="fr-container fr-my-10w">
    <div class="fr-grid-row fr-grid-row--center">
        <div class="fr-col">
            <h2>{{ denomination }}</h2>
            <p>
                <span class="fr-tag">SIREN : {{ siren }}</span>
                <a href="{% url 'simulation' %}">Ce n'est pas mon entreprise</a>
            </p>

            <form class="fr-mt-6w" action="{% url 'reglementations:reglementations' %}" method="get">
                {% csrf_token %}
                {{ form.siren.as_hidden }}
                {{ form.denomination.as_hidden }}
              {#  {% include 'snippets/field.html' with field=form.effectif %} #}
                {% include 'snippets/field.html' with field=form.forme_juridique %}
                {% include 'snippets/field.html' with field=form.cotee %}
                {% include 'snippets/field.html' with field=form.bilan %}
                {% include 'snippets/field.html' with field=form.ca_net %}
                {% include 'snippets/field.html' with field=form.nombre_moyen_de_salaries_employes_au_cours_d_exercice %}
                {% include 'snippets/field.html' with field=form.nombre_moyen_de_salaries_permanents %}
                {% include 'snippets/field.html' with field=form.appartient_a_un_groupe_de_societes_dont_la_societe_mere_a_son_siege_social_en_France_et_effectif_500_salaries %}
                {% include 'snippets/field.html' with field=form.nombre_salaries_fr %}
                {% include 'snippets/field.html' with field=form.nombre_salaries_monde %}
                {% include 'snippets/field.html' with field=form.bdese_accord %}
                {% include 'snippets/field.html' with field=form.plan_de_vigilance_societe_mere %}
                {% include 'snippets/field.html' with field=form.systeme_management_energie %}
                <div class="fr-pt-3w">
                    <input type="submit" value="Vérifier mes obligations" class="fr-btn">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- page simulation étape 2 -->
{% endblock %}
